<!DOCTYPE html>
<html>

<head>
<title>AI Virtual Attendance System</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>AI Virtual Attendance System</h1>

<br><br>

<button onclick="startAttendance()">Start Attendance</button>

<br><br>

<h2>Register Student</h2>

<input type="text" id="name" placeholder="Student Name">

<br><br>

<input type="text" id="roll" placeholder="Roll Number">

<br><br>

<button onclick="registerStudent()">Start Registration</button>

<button onclick="clearInputs()">Clear</button>

<br><br>

<button onclick="viewAttendance()">View Attendance</button>

<script src="/static/script.js"></script>

</body>

</html>